<h2 mat-dialog-title class="dialog-title">Register yourself</h2>


<form [formGroup]="regForm"  class="container mb-5">
  <div class="appointment-description">
    <strong class="mb-3 align-items-center ">After Registration You will get access to below features:</strong>

    <div class="features-section">
      <ul class="features-list">
        <li><strong>Register your company</strong> and get started in minutes.</li>
        <li>
          Gain access to a powerful dashboard with appointment calendar, smart reporting system, and much more.
        </li>
        <li><strong>Add branches</strong> to manage multiple locations effortlessly.</li>
        <li><strong>Onboard employees</strong> and assign them to specific branches.</li>
        <li>
          Employees can access their schedules and manage appointments through our mobile app, available on both <strong>Android</strong> and <strong>iOS</strong> platforms.
        </li>
      </ul>
    </div>
  </div>
  <mat-card-content>
    <div *ngIf="showError" class="text-center mb-3">
      <span class="text-danger">Registration Failed</span>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
      </div>
      <div class="col-md-6 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" />
        </mat-form-field>
      </div>

      <div class="col-md-6 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>
      </div>
      <div class="col-md-6 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
      </div>

      <div class="col-md-6 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </div>
      <div class="col-md-6 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>


  <!-- Submit and Cancel Buttons -->
  <div class="row">
    <div class="col d-flex justify-content-end gap-2">
      <button mat-stroked-button color="warn" type="button" (click)="close()">
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="Register()"
      >
      Register
      </button>
    </div>
  </div>
  
  <!-- <mat-card-actions class="d-flex justify-content-between px-3 pb-3">
    <button type="submit" mat-raised-button color="primary" (click)="Register()">
      Register
    </button>
    <button mat-raised-button color="accent" (click)="close()">
      Cancel
    </button>
  </mat-card-actions> -->
</form>
