<form [formGroup]="companyForm" (ngSubmit)="SaveCompany()" class="company-form">
  <mat-card class="shadow-sm rounded-4 border-0">
    <!-- Header -->
    <div class="form-header mb-3 d-flex flex-column align-items-center">
      <h1 class="form-title">
        🏢 {{Title}} {{
          companyName ? " - " + companyName.toUpperCase() : ""
        }}
      </h1>
      <p class="form-subtitle mt-2">
        Fill in the details below to add a new branch to the selected company.
        Ensure all required fields marked with * are accurately completed.
      </p>
    </div>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Branch Name *</mat-label>
            <input
              matInput
              formControlName="branchName"
              maxlength="100"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Branch Address *</mat-label>
            <input
              matInput
              formControlName="address"
              maxlength="100"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Mobile Number *</mat-label>
            <input
              matInput
              formControlName="mobileNumber"
              maxlength="20"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Arabic Name *</mat-label>
            <input
              matInput
              formControlName="arabicName"
              maxlength="100"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Land line Number *</mat-label>
            <input
              matInput
              formControlName="phoneNumber"
              maxlength="20"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>State</mat-label>
            <mat-select
              formControlName="stateId"
              required
            >
              <!-- <mat-option value="" disabled>Select State</mat-option> -->
              <mat-option *ngFor="let state of states" [value]="state.code">
                {{ state.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6 mt-3">
          <mat-checkbox formControlName="isActive">Is Active</mat-checkbox>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="d-flex justify-content-end gap-2 px-3 py-2">
      <button type="submit" mat-raised-button color="primary" [disabled]="!companyForm.valid">💾 Save</button>
      <a [routerLink]="['/branch', companyCode]" mat-stroked-button color="accent">Cancel</a>
    </mat-card-actions>
  </mat-card>
</form>
