<!-- Page Heading -->
<div class="dashboard-header">
  <div class="title-section">
    <h1 class="dashboard-title">Salon Dashboard</h1>
    <p class="dashboard-subtitle">Track performance, services, and staff insights</p>
  </div>
  <button mat-raised-button color="primary" class="report-button">
    <mat-icon>download</mat-icon>
    Generate Report
  </button>
</div>


<!-- Content Row -->
<div class="row">
  <!-- Earnings (Today) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-success text-uppercase mb-1"
            >
              Today's Earnings
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              @if(amountEarnedToday) {
              {{ amountEarnedToday | currency : "AED  " : "symbol" : "1.2-2" }}
              } @else { 0.00 AED }
            </div>
            <div class="mt-1 text-xs text-muted">
              <mat-icon
                class="text-success"
                style="font-size: 14px; vertical-align: middle"
                >trending_up</mat-icon
              >
              <span class="align-middle">Live updates</span>
            </div>
          </div>
          <div class="col-auto">
            <div class="icon-circle bg-success-light">
              <mat-icon class="text-success">attach_money</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-success text-uppercase mb-1"
            >
              Earnings (This Month)
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              @if(amountEarnedMonth) {
              {{ amountEarnedMonth | currency : "AED  " : "symbol" : "1.2-2" }}
              } @else { 0.00 AED }
            </div>
            <div class="mt-1 text-xs text-muted">
              <mat-icon
                class="text-success"
                style="font-size: 14px; vertical-align: middle"
                >trending_up</mat-icon
              >
              <span class="align-middle">Live updates</span>
            </div>
          </div>
          <!-- 
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
              Earnings (This Month)
            </div>
            <div class="mb-0 font-weight-bold text-gray-800">
              @if(amountEarnedMonth) { {{ amountEarnedMonth }} } @else { 0} AED
            </div>
          </div> -->
          <div class="col-auto">
            <mat-icon class="icon-circle bg-success-light"
              >attach_money</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Year) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-muted text-uppercase mb-1"
            >
              Earnings (This Year)
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              @if(amountEarnedCurrentYear) {
              {{
                amountEarnedCurrentYear
                  | currency : "AED  " : "symbol" : "1.2-2"
              }}
              } @else { 0.00 AED }
            </div>
            <div class="mt-1 text-xs text-muted">
              <mat-icon
                class="text-success"
                style="font-size: 14px; vertical-align: middle"
                >trending_up</mat-icon
              >
              <span class="align-middle">Live updates</span>
            </div>
          </div>

          <!-- <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-warning text-uppercase mb-1"
            >
              Earnings (This Year)
            </div>

            <div class="mb-0 font-weight-bold text-gray-800">
              @if(amountEarnedCurrentYear) { {{ amountEarnedCurrentYear }} } @else { 0} AED
            </div>
          </div> -->
          <div class="col-auto">
            <b>
              <mat-icon class="icon-circle bg-success-light"
                >attach_money</mat-icon
              ></b
            >
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-muted text-uppercase mb-1"
            >
              Best Performer (This Month)
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              @if(bestPerformerValue) {
              {{ bestPerformer }}: {{ bestPerformerValue }} AED } @else { }
            </div>
            <div class="mt-1 text-xs text-muted">
              <mat-icon
                class="text-success"
                style="font-size: 14px; vertical-align: middle"
                >trending_up</mat-icon
              >
              <span class="align-middle">Live updates</span>
            </div>
          </div>

          <!-- <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Best Performer (This Month)
            </div>
            @if(bestPerformerValue) {
            <div class="mb-0 font-weight-bold text-gray-800">
              {{ bestPerformer }}: {{ bestPerformerValue }} AED
            </div>
            }
          </div> -->
          <div class="col-auto">
            <mat-icon
              style="color: blue; padding-top: 2px; cursor: pointer !important"
              class="material-symbols-sharp"
              >star</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bar Chart -->

<!-- Insights Marquee Section -->
<div class="dashboard-marquee-container">
  <div class="marquee">
    <div class="marquee-content">
      @if(insights) {
        <span>
          🌟 <strong>Most Used Service:</strong> {{ insights.mostUsedService }} ({{ insights.mostUsedServiceCount }} times)
        </span>
        <span>
          🔻 <strong>Least Used Service:</strong> {{ insights.leastUsedService }} ({{ insights.leastUsedServiceCount }} times)
        </span>
        <span>
          🏆 <strong>Top Branch:</strong> {{ insights.bestPerformingBranch }}
        </span>
      } 
     
    </div>
  </div>
</div>


<div class="top-performers-section">
  <h3>Top Performers</h3>   
  <div *ngIf="insights?.topPerformersTimeline?.length">
    <div
      class="performer"
      *ngFor="let performer of insights.topPerformersTimeline; index as i"
    >
      <div class="info">
        <div class="name">{{ performer.staffName }}</div>
        <div class="meta">
          <span>{{ performer.servicesProvided }} services</span> •
          <span>{{ performer.workedFor }} AED</span>
        </div>
      </div>

      <div class="bar-container">
        <div
          class="bar"
          [ngClass]="'color-' + i"
          matTooltip="AED {{ performer.workedFor }}"
          [style.width.%]="(performer.workedFor / topPerformerMax) * 100"
        ></div>
      </div>
    </div>
  </div>
  @if(insights?.topPerformersTimeline?.length === 0){
    <div class="no-transactions">
      <p class="no-data-text">🔍  No performers found</p>
    </div>
    }
</div>



<div class="row" style="max-height: 500px">
  <!-- Content Column -->
  <div class="col-md-6 mb-4">
    <div class="card shadow-sm border-0 rounded-4">
      <div
        class="card-header py-3 rounded-top-4 text-white"
        style="background: linear-gradient(to right, #4e73df, #224abe)"
      >
        <h6 class="m-0 fw-semibold">📊 Revenue Growth (Last 6 Months)</h6>
      </div>
      <div class="card-body bg-light rounded-bottom-4">
        <div class="chart-bar mb-2">
          <canvas id="barChart" style="max-height: 320px"></canvas>
        </div>
        <hr class="my-2 align-items-center" />
        @if(this.monthlyRevenueData.length >0) {
        <p class="text-muted small mb-0">
          Revenue trend over the last 6 months
        </p>
        } @else {
        <b class="small mb-0">No Data found</b>
        }
      </div>
    </div>
  </div>

  <!-- latest-transactions.component.html -->
  <div class="col-md-6 mb-2">
    <div class="card shadow-sm border-0 rounded-4">
      <div class="table-container dark-theme">
        <h3 class="table-title">Latest Transactions</h3>
        <table
          mat-table
          [dataSource]="transactions"
          class="mat-elevation-z8 custom-dark-table"
        >
          <!-- Staff Name -->
          <ng-container matColumnDef="staffName">
            <th mat-header-cell *matHeaderCellDef>Employee</th>
            <td mat-cell *matCellDef="let transaction">
              {{ transaction.staffName }}
            </td>
          </ng-container>

          <!-- Branch Name -->
          <ng-container matColumnDef="serviceName">
            <th mat-header-cell *matHeaderCellDef>Service</th>
            <td mat-cell *matCellDef="let transaction">
              {{ transaction.serviceName }}
            </td>
          </ng-container>

          <!-- Service Fee -->
          <ng-container matColumnDef="serviceFee">
            <th mat-header-cell *matHeaderCellDef>Amt</th>
            <td mat-cell *matCellDef="let transaction" class="currency">
              {{ transaction.serviceFee | currency : "AED " }}
            </td>
          </ng-container>

          <!-- Time -->
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let transaction">
              {{ transaction.time | date : "short" }}
            </td>
          </ng-container>
          
          <!-- Rows -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        @if(transactions && transactions.length === 0){
          <div class="no-transactions">
            <p class="no-data-text">🔍  No transactions found</p>
          </div>
          }
      </div>
    </div>
  </div>
</div>

<div class="mb-5">

  </div>