<form [formGroup]="staffForm" (ngSubmit)="Save()" class="company-form">
  <mat-card class="shadow-sm rounded-4 border-0">
    <!-- Header -->
    <div class="form-header mb-3 d-flex flex-column align-items-center">
      <h1 class="form-title">
        {{ Title }}
      </h1>
      <p class="form-subtitle mt-2">
        Fill in the details below to add a new employee for the selected branch.
        Ensure all required fields marked with * are accurately completed.
      </p>
    </div>

    <mat-card-content>
      <div class="row">
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>First Name *</mat-label>
            <input
              matInput
              formControlName="firstName"
              maxlength="30"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Last Name *</mat-label>
            <input
              matInput
              formControlName="lastName"
              maxlength="30"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Employee Address *</mat-label>
            <input
              matInput
              formControlName="address"
              maxlength="30"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email Address *</mat-label>
            <input
              matInput
              formControlName="email"
              maxlength="100"
              required
            />
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Phone No *</mat-label>
            <input
              matInput
              formControlName="phone"
              maxlength="25"
              required
            />
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Emirates Id *</mat-label>
            <input
              matInput
              formControlName="emiratesId"
              maxlength="25"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>State</mat-label>
            <mat-select
              formControlName="companyBranchId"
              required
            >
              <!-- <mat-option value="" disabled>Select State</mat-option> -->
              <mat-option *ngFor="let item of branchList" [value]="item.id">
                {{ item.branchName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6 mt-3">
          <mat-checkbox formControlName="isActive">Is Active</mat-checkbox>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="d-flex justify-content-end gap-2 px-3 py-2">
      <button type="submit" mat-raised-button color="primary" [disabled]="!staffForm.valid">💾 Save</button>
      <a routerLink="/staff" mat-stroked-button color="accent">Cancel</a>
    </mat-card-actions>

    <!-- <mat-card-actions>
      <div class="div-50">
        <button type="submit" mat-raised-button color="primary">Save</button>
      </div>

      <div class="div-50">
        <a
          class="mat-button"
          routerLink="/staff"
          mat-raised-button
          color="accent"
        >
          Cancel</a
        >
      </div>
    </mat-card-actions> -->
  </mat-card>
</form>
