<form [formGroup]="companyForm" (ngSubmit)="SaveCompany()">
    <mat-card>
      <mat-card-header>
        <h1>{{Title}}</h1>
      </mat-card-header>
      <div class="MatCard">
        
  
      <mat-card-content>
        <mat-form-field>
          <mat-label>Company Name</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>
  
        <mat-form-field class="">
          <mat-label>Company Address</mat-label>
          <input formControlName="address" matInput />
        </mat-form-field>

        <mat-form-field class="mat-50">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput />
        </mat-form-field>

        <mat-form-field class="mat-50">
          <mat-label>Mobile Number</mat-label>
          <input formControlName="mobileNumber" matInput />
        </mat-form-field>
  
        <mat-form-field class="mat-50">
          <mat-label>Nature Of Business</mat-label>
          <input formControlName="natureOfBusiness" matInput />
        </mat-form-field>
  
        <mat-form-field class="mat-50">
          <mat-label>Trade License No</mat-label>
          <input formControlName="tradeLicenseNo" matInput />
        </mat-form-field>

        <mat-form-field class="mat-50">
          <mat-label>Arabic Name</mat-label>
          <input formControlName="arabicName" matInput />
        </mat-form-field>

  
        <mat-form-field class="mat-50">
          <mat-label>Land line Number</mat-label>
          <input formControlName="phoneNumber" matInput />
        </mat-form-field>
  
       
        <div class="div-50">
          <mat-checkbox formControlName="isActive">Is Active</mat-checkbox>
        </div>
      </mat-card-content>
  
      <mat-card-actions>
        <div class="div-50">
          <button type="submit" mat-raised-button color="primary">
            Save
          </button>
        </div>
  
        <div class="div-50">
          <a
            class="mat-button"
            routerLink="/company"
            mat-raised-button
            color="accent"
          >
            Cancel</a
          >
        </div>
      </mat-card-actions>
      
    </div>
    </mat-card>
  </form>
  